<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg+xml" href="../resources/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Dhilon Prasad</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" style="color: red; font-size: 12px;" aria-current="page"
                            href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: blue; font-size: 12px;" href="hobbies.html">Hobbies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: purple; font-size: 12px;" href="projects.html">Projects</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <p>
                        <a href="#" class="btn btn-info btn-lg" style="color: green; font-size: 12px;">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </a>
                    </p>
                </form>

            </div>
        </div>
    </nav>
    <div class="container row">
        <div class="col-md-6">
            <img src="../resources/dhilon.png" style="width: 400px; height: auto; margin-left: 30px;"
                alt="Dhilon Prasad">
        </div>
        <div class="col-md-6" style="background-color: #e19e9e; font-size: 32px;">

            Hello, I'm Dhilon Prasad and this is my website.
            <hr>
            Feel free to look around and learn more about my projects, hobbies, and resume.
            <hr>
            I am currently a student at the University of Colorado Boulder studying Computer Science and
            Psychology.
            <hr>
            <a class="nav-link" style="color: blue; font-size: 32px;" href="resume.html">Resume</a>
        </div>
    </div>

    <footer class="footer fixed-bottom py-5 bg-dark text-white text-center">
        <div class="container">
            <span>

                <a href="https://www.linkedin.com/in/dhilonprasad/" target="_blank"><i
                        class="fa-brands fa-linkedin fa-3x" style="color: white;"></i></a>
                <a href="https://github.com/dhilon" target="_blank"><i class="fa-brands fa-github fa-3x"
                        style="color: white;  margin-left: 20px;"></i></a>
                <i class="fa-brands fa-instagram fa-3x" style="color: white;  margin-left: 20px;"></i>
                <i class="fa-brands fa-facebook fa-3x" style="color: white;  margin-left: 20px;"></i>
                <i class="fa-brands fa-twitter fa-3x" style="color: white;  margin-left: 20px;"></i>
                <i class="fa-brands fa-youtube fa-3x" style="color: white;  margin-left: 20px;"></i>
                <i class="fa-brands fa-tiktok fa-3x" style="color: white;  margin-left: 20px;"></i>
                <i class="fa-brands fa-twitch fa-3x" style="color: white;  margin-left: 20px;"></i>
                <i class="fa-brands fa-discord fa-3x" style="color: white;  margin-left: 20px;"></i>
                <i class="fa-brands fa-reddit fa-3x" style="color: white;  margin-left: 20px;"></i>
            </span>
        </div>
    </footer>
</body>

</html>